# dependencies
node_modules/

# sqlite databases
*.db
*.sqlite
*.sqlite3

# raw data (downloaded)
data/raw/

# generated (recreated by migrate_regions.sh)
data/regions.csv
db/dump/regions.sql

# ide
.idea